examples/messy-workflow.json
{
  "name": "Customer Onboarding Pipeline",
  "nodes": [
    {
      "id": "a1b2c3d4-0001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "path": "customer-onboarding",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "webhookId": "test-webhook-id"
    },
    {
      "id": "a1b2c3d4-0002",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 500],
      "parameters": {}
    },
    {
      "id": "a1b2c3d4-0003",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.slack.com/api/chat.postMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "channel", "value": "#onboarding" },
            { "name": "text", "value": "New customer signup!" }
          ]
        },
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer xoxb-1234567890-abcdefghijklmnop-QRSTUVWXYZ123456" }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0004",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 500],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "parent", "value": "{ \"database_id\": \"abc123\" }" }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0005",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300],
      "parameters": {
        "jsCode": "const apiKey = 'sk-proj-abc123def456ghi789jkl012mno345pqr678stu901vwx234';\n\nconst response = await fetch('https://api.example.com/data', {\n  headers: { 'Authorization': `Bearer ${apiKey}` }\n});\n\nconst data = await response.json();\n\nawait new Promise(resolve => setTimeout(resolve, 2000));\n\nreturn [{ json: data }];"
      }
    },
    {
      "id": "a1b2c3d4-0006",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [920, 300],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.active }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0007",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1140, 200],
      "parameters": {
        "assignments": {
          "assignments": [
            { "name": "status", "value": "active", "type": "string" }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0008",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1360, 200],
      "parameters": {
        "operation": "insert",
        "table": "customers",
        "columns": "name, email, status"
      }
    },
    {
      "id": "a1b2c3d4-0009",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1140, 400],
      "parameters": {
        "assignments": {
          "assignments": [
            { "name": "status", "value": "pending", "type": "string" }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0010",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1580, 200],
      "parameters": {
        "channel": "#alerts",
        "text": "Customer added to database"
      }
    },
    {
      "id": "a1b2c3d4-0011",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1580, 500],
      "parameters": {
        "conditions": {
          "boolean": [
            { "value1": "={{ $json.isVIP }}", "value2": true }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0012",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1800, 500],
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Welcome!",
        "message": "Welcome aboard"
      }
    },
    {
      "id": "a1b2c3d4-0013",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [700, 700],
      "parameters": {
        "amount": 5,
        "unit": "minutes"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "HTTP Request", "type": "main", "index": 0 },
          { "node": "HTTP Request1", "type": "main", "index": 0 }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          { "node": "Code", "type": "main", "index": 0 }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          { "node": "If", "type": "main", "index": 0 }
        ]
      ]
    },
    "If": {
      "main": [
        [
          { "node": "Set", "type": "main", "index": 0 }
        ],
        [
          { "node": "Edit Fields", "type": "main", "index": 0 }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          { "node": "Postgres", "type": "main", "index": 0 }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          { "node": "Slack", "type": "main", "index": 0 }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          { "node": "Filter", "type": "main", "index": 0 }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          { "node": "Gmail", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
